/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require nav_bar
 *= require session_form
 *= require splash_page
 *= require profile_form
 *= require profile_subcomponent
 *= require profile_show
 *= require company_form
 *= require company_show
 *= require footer
 *= require job_form
 */

 @font-face {
     font-family: 'helvetica neue';
     src: url('/assets/HelveticaNeue.ttf') format('truetype');
 }

 @font-face {
    font-family: 'San Francisco';
    src: url('/assets/SFProDisplay-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'San Francisco Light';
    src: url('/assets/SFProDisplay-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/assets/FoundersGroteskTest-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Founders Grotesk Bold';
    src: url('/assets/FoundersGroteskTest-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Founders Grotesk Semibold';
    src: url('/assets/FoundersGroteskTest-Semibold.otf') format('truetype');
}