.background-div {
    height: 100%;
    width: 100%;
    background-color: #f2f4f7;
    padding-top: 32px;
}

.company-show-div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: arial;
}

.company-main {
    width: 75%;
}

.company-sidebar {
    width: 20%;
    padding: 16px;
    color: #385075;
    font-size: 14px;
    line-height: 1.5;
}

.company-main, .company-sidebar {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    border: 1px solid #e4e7f0;
}

.company-sidebar > h1 {
    font-family: 'helvetica neue', arial;
    text-transform: uppercase;
    font-weight: bold;
}

.company-sidebar > br {
    font-size: 2px;
}

.company-header {
    display: flex;
    border-bottom: 1px solid #e4e7f0;
    padding: 32px;
}

.company-logo {
    height: 58px;
    width: 58px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e4e7f0;
    margin-right: 18px;
}

.company-logo > i {
    font-size: 40px;
}

.company-header h1 {
    color: #16204F;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 500;
}

.company-header h3 {
    color: #385075;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 4px;
}

.company-body {
    padding: 32px;
}

.company-body h2 {
    font-size: 20px;
    line-height: 1.4;
    color: #050c26;
    font-weight: 500;
    margin-bottom: 16px;
}

.company-body p {
    font-size: 16px;
    line-height: 1.5;
    color: #162040;
}

.company-body > p {
    margin-bottom: 48px;
}

.employees-div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.employee-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #e4e7f0;
    margin: 8px;
}

.employee-div > .link {
    font-size: 16px;
    line-height: 1.5;
    color: #162040;
    text-decoration: none;
    margin-right: 15px;
}

.employee-div > .link:hover {
    text-decoration: underline;
}

.employee-div > div {
    border-radius: 50%;
    border: 1px solid #f2f4f7;
    height: 48px;
    width: 48px;
    overflow: hidden;
    background-color: #DDE2E8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.employee-div img.default {
    height: 30px;
    width: 30px;
    filter: invert(100%);
}

.employee-div img.uploaded {
    height: 48px;
    width: 48px;
}

.culture-div {
    margin-bottom: 48px;
}

.perks-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.perk-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;

}

.perk-div > div {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    border: 1px solid #dde9f8;
    background-color: #f2f8ff;
    font-size: 18px;
    line-height: 1.5;
    color: #0F6FFF;
}

.funding-div {
    display: flex;
    justify-content: space-between;
}

.funding-div > div {
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    border: 1px solid #e4e7f0;
    font-size: 16px;
    line-height: 1.5;
    color: #162040;
    width: 28%;
}

.funding-div h4 {
    color: #7b91b1;
    font-size: 12px;
    line-height: 1.67;
    font-weight: 500;
    letter-spacing: .4px;
    margin-bottom: 4px;
}

.investors-div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
    margin-top: 16px;
}

.investor-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #e4e7f0;
    margin: 8px;
}

.investor-div > div {
    border-radius: 50%;
    /* border: 1px solid #f2f4f7; */
    /* height: 48px;
    width: 48px; */
    margin-left: 16px;
    overflow: hidden;
    /* background-color: #DDE2E8; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #fff; */
}