nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(33,37,44,.1);
    background-color: #fff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'helvetica neue' , arial, helvetica, freesans, 'liberation sans', 'numbus sans l', sans-serif;
    width: 65%;
}

.page-links {
    align-self: baseline;
}

.nav-link {
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 1.4rem .9375rem;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
}

.nav-link.text:hover {
    background-color: rgba(187, 189, 194, 0.1);
}

.page-links img {
    height: 1.75rem;
}

.session-links {
    justify-self: flex-end;
}

.session-link {
    color: #3078ca;
    text-decoration: none;
    font-size: .8125rem;
    margin: 0 .625rem;
}

.session-link:hover {
    text-decoration: underline;
}

.user-button {
    border: none;
    border-radius: .1875rem;
    padding: .25rem;
    background-color: #DDE2E8;
}

.user-button > img {
    height: 1.25rem;
    width: 1.25rem;
    filter: invert(100%);
}

.user-menu {
    display: flex;
    flex-flow: column;
    position: absolute;
    background-color: #fafafa;
    border-radius: .25rem;
    box-shadow: 0 0.0625rem 0.1875rem #616e80;
    top: 3.25rem;
}

.user-menu-arrow {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #b6b8b9 transparent;
    border-width: 0px .5rem .5rem .5rem;
    top: -.5rem;
    left: .35rem;
}

.user-menu-arrow::before {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #fafafa transparent;
    border-width: 0px .45rem .5rem .45rem;
    top: .02rem;
    left: -.45rem;
    content: "";
}

.dropdown-text {
    color: #616e80;
    font-size: .875rem;
    font-family: 'helvetica neue', arial, helvetica, freesans, 'liberation sans', 'numbus sans l', sans-serif;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-align: left;
    line-height: 1.5;
    padding: .2rem .9375rem;
    font-weight: 400;
}

.dropdown-text:hover {
    background-color: #F2F4F7;
}

.dropdown-text:nth-child(3) {
    border-bottom: .0625rem solid #f2f4f7;
    border-top: .0625rem solid #f2f4f7;
}